force-app/main/default/flows/Opp_Team_Members_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LeasingNotify</name>
        <label>LeasingNotify</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>customNotifyID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>{!$Record.Name} is {!$Record.StageName}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Team_Members_Email</name>
        <label>Team Members Email</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>customNotifyID</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>customNotifyID</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$Record.Name} is {!$Record.StageName}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TeamMembers_Task</name>
        <label>TeamMembers Task</label>
        <locationX>1018</locationX>
        <locationY>815</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>TeamMember_teration</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>TeamMember_teration</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>{!$Record.Name} is {!$Record.StageName}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>RecipeintIDs</name>
        <label>RecipeintIDs</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Leasing_Admin__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LeasingNotify</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecipeintIDss</name>
        <label>RecipeintIDss</label>
        <locationX>930</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>RecipientID1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Leasing_Admin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientID1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Asset_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientID1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Leasing_Analyst__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TeamMember_teration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecipeintIDss1</name>
        <label>RecipeintIDss1</label>
        <locationX>1546</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>RecipientID1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Leasing_Admin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientID1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Asset_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientID1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Leasing_Analyst__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TeamMember_teration1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Team members email</description>
        <name>TeamEmails</name>
        <label>TeamEmails</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Asset_Manager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Leasing_Admin__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Leasing_Analyst__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Team_Members_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Stage Name check</description>
        <name>CheckStage</name>
        <label>CheckStage</label>
        <locationX>930</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TeamEmails</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage Qualified</label>
        </rules>
        <rules>
            <name>Stage_Deal_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deal approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecipeintIDss</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage Deal Approved</label>
        </rules>
        <rules>
            <name>Stage_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecipeintIDss1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTeamMembers</name>
        <label>checkTeamMembers</label>
        <locationX>1150</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>TeamMember_teration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Member_fill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientID1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>TeamMembers_Task</targetReference>
            </connector>
            <label>Member fill</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTeamMembers1</name>
        <label>checkTeamMembers1</label>
        <locationX>1766</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>TeamMember_teration1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Member_fill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientID1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>TeamMemberTask1</targetReference>
            </connector>
            <label>Copy 1 of Member fill</label>
        </rules>
    </decisions>
    <description>Record-Triggered Flow that works on the Opportunity Stages</description>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}-15</expression>
    </formulas>
    <interviewLabel>Opp.Team Members Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp.Team Members Actions</label>
    <loops>
        <name>TeamMember_teration</name>
        <label>TeamMemberİteration</label>
        <locationX>930</locationX>
        <locationY>575</locationY>
        <collectionReference>RecipientID1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkTeamMembers</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>TeamMember_teration1</name>
        <label>TeamMemberİteration1</label>
        <locationX>1546</locationX>
        <locationY>575</locationY>
        <collectionReference>RecipientID1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkTeamMembers1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>TeamMemberTask1</name>
        <label>TeamMemberTask1</label>
        <locationX>1634</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>TeamMember_teration1</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TeamMember_teration1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!$Record.Name}is {!$Record.StageName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>customNotifyID</name>
        <label>customNotifyID</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecipeintIDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opp_Qualified</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckStage</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name} is qualified.Below are the opportunity details.
Name:{!$Record.Name} 
Center:{!$Record.Center__c}
Space:{!$Record.Space__c}
Type:{!$Record.Type}
Link:https://salesforcular-dev-ed.develop.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view</text>
    </textTemplates>
    <variables>
        <name>RecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientID1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
